* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #100f0f;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin-bottom: 135px;
  text-align: center;
  font-size: 55px;
  font-weight: 500;
}
form {
  text-align: center;
}
input {
  margin: 25px;
  padding: 8px;
  width: 65%; 
  background-color: #ffffff; 
  color: #100f0f;
  border-radius: 8px;
}
#searchBtn{
  padding: 15px; 
  margin: 10px;
  width: 15%;
  cursor: pointer; 
  background-color: #c9c2c2;
  border-radius: 8px;
}
#searchBtn:hover{
 background-color: #816666;
}
p{
  margin: 125px; 
  text-align: left;
}
